* {
	margin: 0;
	padding: 0;
}

.summary-table {
	
}

.highs {
	color: red;
	font-size: 2.0em;
}

.lows {
	color: blue;
	font-size: 2.0em;
}

.current-conditions {
	margin: 15px;
}

.detailed-forecast {
	
}

.list1 {
	margin: 12px;
}